.cart-no {
  position: absolute;
  height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  font-weight: 700;
  background: red;
  color: white;
  text-align: center;
  top: -12px;
  right: 30px;
}
i {
  color: "green";
}
a {
  text-decoration: none;
  color: #343840;

  &.active {
    color: #0062cc;
  }
}
.shop-brand {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
.cursor-pointer {
    cursor: pointer;
}
